
#associations .controls,
#associations .controls select {
  width: auto;
}

.subOrdinates {
  .sub-name {
    padding-right: 1rem;
  }

  button, input[type="text"] {
    margin-right: 4px;
  }

  input[type="text"] {
    padding: .2rem .4rem;
    width: 2em;
  }

  th:nth-child(2), td:nth-child(2) {
    width: 17rem;
  }
}