@import "variables";

html {
  background-color: $background-color;
  position: relative;
}

body.tmpl-component.html-default,
body.tmpl-component.html-default .main, {
  background-color: $background-color;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% - 2.5rem));
  width: 100%;

  h1, .tail {
    background-color: $font-color;
    color: $foreground-color;
    margin: 0;
    padding: .3rem .5rem;
    text-align: center;
  }

  input {
    width: 100%;
  }
}

.head {
  padding: 0 1.5rem 1rem;

  .banner {
    background-color: $background-color;
    margin: 0;
  }
}

.span10 {
  background-color: $foreground-color;
  padding: .5rem;
}

form {
  margin-top: 1rem;

  &.form-horizontal {

    .control-group {
      display: flex;
      flex-direction: row;
      width: 100%;

      &.message {
        display: block;
        text-align: center;
      }
    }

    .control-label {
      width: 30%;

      &.inverse {
        padding-top: 0;
        text-align: center;
        width: 60%;
      }
    }

    .controls {
      margin-left: 1rem;
      width: 60%;

      &.inverse {
        text-align: center;
        width: 30%;
      }
    }

  }
}

.tail {
  height: 3rem;
}