@import "variables";

html {
  background-color: $background-color;
  position: relative;
}

body.tmpl-component.html-default {
  background-color: $background-color;
  left: 50%;
  min-width: 22rem;
  position: absolute;
  transform: translateX(-50%);

  .main {
    background-color: $background-color;
    padding: 0 .5rem;

    h1 {
      background-color: $font-color;
      color: $foreground-color;
      font-size: 1.5rem;
      margin: 0;
      padding: .5rem .3rem .2rem;
      text-align: center;
    }

    input {
      padding: .25rem;
      text-align: center;
      width: 20rem;

      &.btn {
        border: $border-dark-thick;
        margin-top: .5rem;
        padding: .25rem 1rem;
        width: auto;
      }
    }

    a.btn {
      border: $border-dark-thick;
    }
  }
}

.head {
  padding: 0 20% 1rem;

  .banner {
    background-color: $background-color;
  }
}

.span10 {
  background-color: $foreground-color;
  border-bottom: $border-dark;
  border-left: $border-dark;
  border-right: $border-dark;
  padding: .5rem;
}

form {
  margin-bottom: 0;

  &.form-vertical {

    .control-group,
    .control-label,
    .controls {
      text-align: center;

    }

    .control-label {
      width: 100%;
    }
  }

  &.checkedin .control-group.message:last-child {
    font-size: .8rem;
    font-style: italic;
  }

  label {
    font-weight: bold;
  }

  .control-group.message:first-child {
    margin-top: .5rem;
  }

  .register a {
    text-decoration: underline;
  }
}