@import "associations";
@import "fields";
@import "filter_bars";

div.btn-toolbar + form {
  margin-top: 2rem;
}

span.comment {
  font-style: italic;
}

.export-container {
  align-content: space-evenly;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

div.main form#adminForm fieldset {
  background-color: $foreground-color;
  flex-grow: 1;
  padding: 0 .5rem;

  &:last-child {
    background-color: $background-color;
    margin-right: .5rem;

    legend {
      background-color: $background-color;
    }

    .controls {
      margin-left: 40%
    }
  }

  legend {
    background-color: $foreground-color;
    border-bottom: none;
    color: $font-color-title;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 0;
    margin-left: -.5rem;
    padding: 1rem 0 0 2rem;
    width: calc(100% - 1rem);
  }
}

// File upload adjustment for chromium browsers.
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .controls input[type="file"] {
    line-height: 0;
    padding-top: 3px;
  }
}