@import "associations";
@import "fields";
@import "filter_bars";

div.btn-toolbar + form {
  margin-top: 2rem;
}

span.comment {
  font-style: italic;
}

// File upload adjustment for chromium browsers.
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .controls input[type="file"] {
    line-height: 0;
    padding-top: 3px;
  }
}