@import "filter_bars";
@import "mixins";
@import "variables";

.term-container {
  margin-bottom: .5rem;
}

.term-label {
  margin-right: 1rem;
  min-width: 5rem;
}

.term-label, .term-input {
  display: inline-block;
}
