@import "fields";
@import "filter_bars";
@import "mixins";
@import "pagination";
@import "variables";

td {
  max-width: 20rem;
  word-wrap: break-spaces;
}

td.empty-result-set {
  text-align: center;
}

/* Event Styles *******************************************************************************************************/

span.comment {
  font-style: italic;
}

span.comment, span.method, span.role-title {
  font-size: .8rem;
}

span.event {
  font-size: 1rem;
  font-family: $font-family-header;
}

span.role-title {
  font-weight: bold;
}

td.status-display {

  &.instance-new {
    background-color: $green-50;
  }

  &.instance-removed {
    background-color: $red-25;
  }

  &.unit-new {
    background-color: $green-75;
  }

  &.unit-removed {
    background-color: $red-50;
  }
}

.status-new {
  color: $green-100
}

.status-removed {
  color: $grey-100;
  opacity: 0.5;
  text-decoration: line-through;
}

/* In-Row Tools *******************************************************************************************************/

td a.btn {
  margin-right: .2rem;

  &:last-child {
    margin-right: 0;
  }
}

/* Phone **************************************************************************************************************/

@include breakpoint($mq-phone) {
  // for all tables. Just display the second column.
  .table-striped {
    @include displayAndHideColumns(2);
  }
}

/* Tablet *************************************************************************************************************/

@include breakpoint($mq-tablet) {
  // for all tables. Hide the last columns from the fifth column, so four columns are displayed
  .table-striped {
    @include hideColumns(5);
  }
}
