@import "fields";
@import "filter_bars";
@import "pagination";
@import "variables";

td {
  max-width: 20rem;
  word-wrap: break-spaces;
}

td.empty-result-set {
  text-align: center;
}

span.comment {
  font-style: italic;
}

span.comment, span.method, span.role-title {
  font-size: .8rem;
}

span.event {
  font-size: 1rem;
  font-family: $font-family-header;
}

span.role-title {
  font-weight: bold;
}

table.table-striped .center {
  text-align: center;
}

table.table-striped td.status-display {

  &.green, &.unit-new {
    background-color: $green-75;
  }

  &.grey {
    background-color: $grey-25;
  }

  &.instance-new {
    background-color: $green-50;
  }

  &.instance-removed {
    background-color: $red-25;
  }

  &.red, &.unit-removed {
    background-color: $red-50;
  }
}

.status-new {
  color: $green-100
}

.status-removed {
  color: $grey-100;
  opacity: 0.5;
  text-decoration: line-through;
}

/* In-Row Tools *******************************************************************************************************/

td a.btn {
  margin-right: .2rem;

  &:last-child {
    margin-right: 0;
  }
}