@import "fields";
@import "filter_bars";
@import "pagination";
@import "variables";

td {
  max-width: 20rem;
  word-wrap: break-spaces;
}

td.empty-result-set {
  text-align: center;
}

span.comment {
  font-style: italic;
}

span.comment, span.method, span.role-title {
  font-size: .8rem;
}

span.display-value {
  padding-right: .4rem;
  padding-top: .4rem;
}

span.event {
  font-size: 1rem;
  font-family: $font-family-header;
}

span.role-title {
  font-weight: bold;
}

table span[class^='icon-'], table span[class*=' icon-'] {
  font-size: 1rem;
}

table.table-striped .center {
  text-align: center;
}

table.table-striped td.status-display {

  &.green {
    background-color: $green-75;
  }

  &.grey {
    background-color: $grey-25;
  }

  &.instance-new {
    border-left: 5px solid $green-50;
  }

  &.instance-removed {
    border-left: 5px solid $red-25;
  }

  &.red {
    background-color: $red-50;
  }

  &.unit-new {
    border-left: 5px solid $green-75;
  }

  &.unit-removed {
    border-left: 5px solid $red-50;
  }

  &.yellow {
    background-color: $yellow-100;
  }
}

.status-new {
  color: $green-100
}

.status-removed {
  color: $grey-100;
  opacity: 0.5;
  text-decoration: line-through;
}

.section-head {
  margin-top: 1.5rem;
  font-size: 1.4rem;
}

/* In-Row Tools *******************************************************************************************************/

td a.btn {
  margin-bottom: .2rem;
  margin-right: .2rem;

  &:last-child {
    margin-right: 0;
  }
}

/* MQ Column Removal **************************************************************************************************/
@media screen and (max-width: $mq-tablet) {
  #Booking-list {
    tr th, tr td {
      &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
        display: none;
      }
    }
  }
  #InstanceItem-list {
    tr th, tr td {
      &:nth-child(4), &:nth-child(5), &:nth-child(6) {
        display: none;
      }
    }
  }
  #Instances-list {
    tr th, tr td {
      &:nth-child(4), &:nth-child(5) {
        display: none;
      }
    }
  }
}
