#adminForm a[target=_blank]::before {
  content: none;
}

table.table {
  th, td {
    &.ta-center {
      text-align: center;
    }

    &.ta-right {
      text-align: right;
    }

    &.lb-thick {
      border-left: var(--border-color) solid calc(var(--border-width) * 3);
    }

    //noinspection ALL
    &.lb-thin {
      border-left: var(--border-color) solid calc(var(--border-width));
    }
  }

  &#RoomOverviewList {
    th, td {
      padding: .75rem .5rem;
    }
  }

  div[role=tooltip] {
    background: var(--main-bg);
    border: var(--border-color) solid var(--border-width);

    div {
      background: var(--body-bg);
      border: var(--border-color) solid var(--border-width);
      padding: calc(var(--border-width) * 8);

      &:not(:first-child) {
        margin-top: calc(var(--border-width) * 8);
      }
    }
  }
}
