@import "_variables.scss";

html {
  background-color: $background-color;
  position: relative;
}

body.tmpl-component.html-default {
  background-color: $background-color;
  left: 50%;
  min-width: 300px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;

  .main {
    background-color: $foreground-color;
    padding: 0;

    h1, p, .foot {
      padding-top: .4rem;
      text-align: center;
    }

    h1, .foot {
      background-color: $font-color;
      color: $foreground-color;
      margin: 0;
    }

    h1 {
      font-size: 3rem;
    }

    p {
      font-weight: bold;
    }

    p:not(.date) {
      margin-bottom: 0;
    }

    .foot {
      font-size: 2rem;
      padding-bottom: .6rem;
    }
  }
}

@media print {
  body.tmpl-component.html-default {
    transform: translate(-50%, 50%);
  }
}