@import "variables";

#j-sidebar-container {
  padding: 0;
}

div.sidebar-nav {
  padding: 0;

  li {
    padding: .1rem .2rem;

    &:first-child {
      font-size: 1.2rem;
    }

    &:has(span.menu-spacer) {
      background-color: hsl(214, 40%, 20%);
      padding: .3rem .6rem;
    }

    a::before {
      content: none;
    }

    span.menu-spacer {
      display: block;
      font-size: 1.2rem;
      width: 100%;
    }
  }
}
