@import "fields";
@import "filter_bars";
@import "pagination";
@import "variables";

/* table styles *******************************************************************************************************/

.organizer-table {

  thead th,
  tbody td {
    text-align: center;
  }

  .resource-column {
    padding-left: .1rem;
    padding-right: .1rem;
    width: calc(4rem - .2rem);
  }

  .data-column span {
    margin: 0;
  }

  thead tr.level-2.columns-36 th.data-column,
  tbody tr.columns-36 td.data-column {
    padding-left: .1rem;
    padding-right: .1rem;
    width: calc((100% - 4rem - (.2rem * 36)) / 36);
  }

  thead tr.level-2.columns-48 th.data-column,
  tbody tr.columns-48 td.data-column {
    padding-left: 0;
    padding-right: 0;
    width: calc((100% - 4rem) / 48);
  }
}

/* Tooltip styles specific to table views ****************************************************************************/

.tooltip-inner {
  .cellTip {
    padding: .4rem;
    text-align: center;

    .cellTip, .labelTip {
      margin-top: .4rem;
      text-align: left;
    }

    .cellTip {
      border-top: $border-dark;
    }
  }

  .cellTitle {
    font-weight: bold;
    size: 1.1rem;
  }
}
