<?xml version="1.0" encoding="utf-8"?>
<config addfieldprefix="Organizer\Fields">
    <fieldset name="miscellaneous" label="ORGANIZER_MISCELLANEOUS" description="ORGANIZER_MISCELLANEOUS_DESC">
        <field name="buildingRegex" type="Blank" label="BUILDING_REGEX" size="40" required="false"/>
        <field name="emailFilter" type="Blank" label="EMAIL_FILTER" size="40" required="false"/>
    </fieldset>
    <fieldset name="appearance" label="ORGANIZER_APPEARANCE" description="ORGANIZER_APPEARANCE_DESC">
        <field name="dateFormat" type="Blank" label="DATE_FORMAT" size="40" required="true" default="d.m.Y"/>
        <field name="dateFormatShort" type="Blank" label="DATE_FORMAT_SHORT" size="40" required="true" default="d.m"/>
        <field name="backgroundColor" type="color" label="ORGANIZER_BACKGROUND_COLOR"
               description="ORGANIZER_BACKGROUND_COLOR_DESC" size="10" required="true" default="#f2f5f6"/>
        <field name="lightTextColor" type="color" label="ORGANIZER_TEXT_LIGHT_COLOR" description="ORGANIZER_TEXT_LIGHT_COLOR_DESC"
               size="10" required="true" default="#ffffff"/>
        <field name="darkTextColor" type="color" label="ORGANIZER_TEXT_DARK_COLOR" description="ORGANIZER_TEXT_DARK_COLOR_DESC"
               size="10" required="true" default="#4a5c66"/>
    </fieldset>
    <fieldset name="LSF-Service" label="ORGANIZER_LSF" description="ORGANIZER_LSF_DESC">
        <field name="wsURI" type="Blank" size="100" label="LSF_URI"/>
        <field name="wsUsername" type="Blank" size="30" label="LSF_USERNAME"/>
        <field name="wsPassword" type="Blank" size="30" label="PASSWORD" description="LSF_PASSWORD_DESC"/>
    </fieldset>
    <fieldset name="monitors" label="ORGANIZER_MONITORS" description="ORGANIZER_MONITORS_DESC">
        <field name="display" type="Options" label="DISPLAY_BEHAVIOUR">
            <option value='1'>DAILY_PLAN</option>
            <option value='2'>MIXED_PLAN</option>
            <option value='3'>CONTENT_DISPLAY</option>
            <option value='4'>EVENT_LIST</option>
        </field>
        <field name="scheduleRefresh" type="Integer" label="SCHEDULE_REFRESH_RATE" first="10" last="990" step="10" default="60"/>
        <field name="contentRefresh" type="Integer" label="CONTENT_REFRESH" first="10" last="990" step="10" default="60"/>
        <field name="content" type="FileOptions" label="DISPLAY_CONTENT" directory="images/organizer/" exclude=""/>
    </fieldset>
    <fieldset name="prepCourse" label="ORGANIZER_PREP_COURSES">
        <field name="representativeName" type="Blank" label="REPRESENTATIVE" size="60"/>
        <field name="signatureFile" type="imagelist" hide_none="true" directory="components/com_organizer/images"
               label="ORGANIZER_SIGNATURE_FILE" description="ORGANIZER_SIGNATURE_FILE_DESC" size="60"/>
        <field name="address" type="Blank" label="ADDRESS" description="CONTACT_ADDRESS_DESC" size="100"/>
        <field name="contact" type="Blank" label="CONTACT" size="100"/>
        <field name="mailSender" type="user" label="ORGANIZER_SENDER" description="ORGANIZER_SENDER_DESC" default=""/>
    </fieldset>
    <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
        <field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" validate="rules" filter="rules"
               component="com_organizer" section="component"/>
    </fieldset>
</config>
