html {
    background-color: #f2f5f6;
    position: relative;
}

body.tmpl-component.html-default,
body.tmpl-component.html-default .main {
    background-color: #f2f5f6;
    left: 50%;
    max-width: 40rem;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, calc(-50% - 1.5rem));
    width: 100%;
}

body.tmpl-component.html-default #system-messages,
body.tmpl-component.html-default .main #system-messages {
    bottom: calc(50vh - 7rem);
    position: fixed;
    width: 100%;
}

body.tmpl-component.html-default h1, body.tmpl-component.html-default .tail,
body.tmpl-component.html-default .main h1,
body.tmpl-component.html-default .main .tail {
    background-color: #394a59;
    color: white;
    margin: 0;
    padding: .3rem .5rem;
    text-align: center;
}

body.tmpl-component.html-default input,
body.tmpl-component.html-default .main input {
    width: calc(100% - 8px);
}

body.tmpl-component.html-default input.btn,
body.tmpl-component.html-default .main input.btn {
    margin-top: .5rem;
    width: 100%;
}

.head {
    padding: 0 20% 1rem;
}

.head .banner {
    background-color: #f2f5f6;
    margin: 0;
}

.span10 {
    background-color: white;
    border-left: 1px solid #77858c;
    border-right: 1px solid #77858c;
    padding: .5rem 0;
    width: calc(100% - 2px);
}

form {
    margin-top: 1rem;
    padding: 0 .5rem;
    width: calc(100% - 1rem);
}

form.form-vertical {
    display: flex;
    flex-direction: column;
}

form.form-vertical .control-group {
    display: flex;
    flex-direction: column;
}

.tail {
    height: 3rem;
}
