html {
    background-color: #f2f5f6;
    position: relative;
}

body.tmpl-component.html-default,
body.tmpl-component.html-default .main {
    background-color: #f2f5f6;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 2.5rem));
    width: 100%;
}

body.tmpl-component.html-default #system-messages,
body.tmpl-component.html-default .main #system-messages {
    bottom: calc(50vh - 7rem);
    position: fixed;
    width: 100%;
}

body.tmpl-component.html-default h1, body.tmpl-component.html-default .tail,
body.tmpl-component.html-default .main h1,
body.tmpl-component.html-default .main .tail {
    background-color: #394a59;
    color: white;
    margin: 0;
    padding: .3rem .5rem;
    text-align: center;
}

body.tmpl-component.html-default input,
body.tmpl-component.html-default .main input {
    width: 100%;
}

.head {
    padding: 0 1.5rem 1rem;
}

.head .banner {
    background-color: #f2f5f6;
    margin: 0;
}

.span10 {
    background-color: white;
    padding: .5rem;
}

form {
    margin-top: 1rem;
}

form.form-horizontal .control-group {
    display: flex;
    flex-direction: row;
    width: 100%;
}

form.form-horizontal .control-group.message {
    display: block;
    text-align: center;
}

form.form-horizontal .control-label {
    width: 30%;
}

form.form-horizontal .control-label.inverse {
    padding-top: 0;
    text-align: center;
    width: 60%;
}

form.form-horizontal .controls {
    margin-left: 1rem;
    width: 60%;
}

form.form-horizontal .controls.inverse {
    text-align: center;
    width: 30%;
}

.tail {
    height: 3rem;
}
