form textarea {
    min-height: 9rem;
    min-width: 15rem;
}

body.tmpl-index div.main .chzn-container {
    max-width: inherit;
}

body.tmpl-index div.main .chzn-container, body.tmpl-index div.main select {
    width: 10rem !important;
}

body.tmpl-index div.main .chzn-container-multi .chzn-choices li {
    float: none;
}

body.tmpl-index div.main .chzn-container-multi, body.tmpl-index div.main select[multiple] {
    height: auto;
    min-height: 2rem;
}

body.tmpl-index div.main input[type='date'] {
    margin-bottom: 0;
}

body.tmpl-index div.main button, body.tmpl-index div.main input, body.tmpl-index div.main select a.btn {
    padding: .45em .6em .15em .6em;
}

body.tmpl-index div.main .input-4, body.tmpl-index div.main .input-4 + .chzn-container,
body.tmpl-index div.main .input-mini, body.tmpl-index div.main .input-mini + .chzn-container {
    width: 4rem !important;
}

body.tmpl-index div.main .input-6, body.tmpl-index div.main .input-6 + .chzn-container {
    width: 6rem !important;
}

body.tmpl-index div.main .input-7, body.tmpl-index div.main .input-7 + .chzn-container {
    width: 7rem !important;
}

body.tmpl-index div.main .input-8, body.tmpl-index div.main .input-8 + .chzn-container {
    width: 8rem !important;
}

body.tmpl-index div.main .input-10, body.tmpl-index div.main .input-10 + .chzn-container {
    width: 10rem !important;
}

body.tmpl-index div.main .input-12, body.tmpl-index div.main .input-12 + .chzn-container {
    width: 12rem !important;
}

body.tmpl-index div.main .input-13, body.tmpl-index div.main .input-13 + .chzn-container {
    width: 13rem !important;
}

body.tmpl-index div.main .input-15, body.tmpl-index div.main .input-15 + .chzn-container {
    width: 15rem !important;
}

.publishing-container {
    display: flex;
    flex-direction: column;
}

.publishing-container .term-container {
    display: flex;
    flex-direction: row;
    margin-bottom: .4rem;
}

.publishing-container .term-label {
    width: 6rem;
}

.publishing-container .term-input select {
    width: 4rem;
}

body.tmpl-index div.main .btn-toolbar {
    display: flex;
    flex-direction: row;
}

body.tmpl-index div.main .btn-toolbar .btn-wrapper {
    margin-right: 5px;
    position: relative;
}

body.tmpl-index div.main .btn-toolbar .btn-wrapper .dropdown-menu {
    border-radius: 0;
    width: max-content;
}

body.tmpl-index div.main .btn-toolbar .btn-wrapper .dropdown-menu .btn {
    text-align: left;
}

body.tmpl-index div.main .btn-toolbar .btn-wrapper .dropdown-menu a {
    border: none;
    padding: .45em .6em .15em .6em;
}

body.tmpl-index div.main .btn-toolbar .btn-wrapper .dropdown-menu li button {
    border: none;
}

body.tmpl-index div.main .btn-toolbar a.btn, body.tmpl-index div.main .btn-toolbar button {
    font-size: .9rem;
}

body.tmpl-index div.main .js-stools-container-bar,
body.tmpl-index div.main .js-stools-container-list,
body.tmpl-index div.main .js-stools-container-filters,
body.tmpl-index div.main .js-stools-field-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .8rem;
}

body.tmpl-index div.main .js-stools-container-bar .active .chzn-single,
body.tmpl-index div.main .js-stools-container-bar .chzn-single,
body.tmpl-index div.main .js-stools-container-list .active .chzn-single,
body.tmpl-index div.main .js-stools-container-list .chzn-single,
body.tmpl-index div.main .js-stools-container-filters .active .chzn-single,
body.tmpl-index div.main .js-stools-container-filters .chzn-single,
body.tmpl-index div.main .js-stools-field-list .active .chzn-single,
body.tmpl-index div.main .js-stools-field-list .chzn-single {
    background: none;
    border: none;
}

body.tmpl-index div.main .js-stools-container-bar input[type='date'],
body.tmpl-index div.main .js-stools-container-list input[type='date'],
body.tmpl-index div.main .js-stools-container-filters input[type='date'],
body.tmpl-index div.main .js-stools-field-list input[type='date'] {
    height: 1.35rem;
    margin-bottom: 0;
}

body.tmpl-index div.main .js-stools-container-bar select,
body.tmpl-index div.main .js-stools-container-list select,
body.tmpl-index div.main .js-stools-container-filters select,
body.tmpl-index div.main .js-stools-field-list select {
    margin-bottom: 0;
}

body.tmpl-index div.main .js-stools-container-bar input,
body.tmpl-index div.main .js-stools-container-list input {
    width: 12rem;
}

body.tmpl-index div.main .js-stools-container-bar a.btn, body.tmpl-index div.main .js-stools-container-bar input, body.tmpl-index div.main .js-stools-container-bar button,
body.tmpl-index div.main .js-stools-container-list a.btn,
body.tmpl-index div.main .js-stools-container-list input,
body.tmpl-index div.main .js-stools-container-list button {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: .9rem;
}

body.tmpl-index div.main .js-stools-container-bar .input-append input + button,
body.tmpl-index div.main .js-stools-container-list .input-append input + button {
    font-size: .9rem;
    height: 1.85rem;
    margin-top: .2rem;
    margin-left: -2.2rem;
}

body.tmpl-index div.main .js-stools-container-bar .input-append input + button:hover span[class^="icon-"]:before,
body.tmpl-index div.main .js-stools-container-list .input-append input + button:hover span[class^="icon-"]:before {
    color: #394a59;
}

body.tmpl-index div.main .js-stools-container-bar .js-stools-btn-filter .caret,
body.tmpl-index div.main .js-stools-container-list .js-stools-btn-filter .caret {
    border-bottom-color: initial;
}

body.tmpl-index div.main .js-stools-container-bar .js-stools-btn-filter:hover .caret,
body.tmpl-index div.main .js-stools-container-list .js-stools-btn-filter:hover .caret {
    border-top-color: #ffffff;
}

body.tmpl-index div.main .js-stools-container-list .js-stools-field-list {
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 0;
}

body.tmpl-index div.main .js-stools-container-list .js-stools-field-list input[type='date'] {
    padding: .35rem .5rem;
}

body.tmpl-mobile div.main .js-stools-container-bar,
body.tmpl-mobile div.main .js-stools-field-filter,
body.tmpl-mobile div.main .js-stools-field-list,
body.tmpl-mobile div.main .js-stools-container-filters,
body.tmpl-mobile div.main .js-stools-container-list {
    margin-right: 0;
    margin-top: 0;
    width: 100%;
}

body.tmpl-mobile div.main .js-stools-container-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

body.tmpl-mobile div.main .js-stools-container-filters input, body.tmpl-mobile div.main .js-stools-container-filters select,
body.tmpl-mobile div.main .js-stools-container-list input,
body.tmpl-mobile div.main .js-stools-container-list select {
    width: 100%;
}

body.tmpl-mobile div.main .js-stools-container-filters input[type='date'],
body.tmpl-mobile div.main .js-stools-container-list input[type='date'] {
    padding: 6px 4px;
    width: calc(100% - 10px);
}

body.tmpl-mobile div.main .js-stools-container-filters {
    margin-top: 0;
}

body.tmpl-mobile div.main input[type='text'] {
    width: calc(100% - 8px);
}

body.tmpl-mobile div.main .btn-wrapper {
    display: inline-block;
    margin-right: .4rem;
}

body.tmpl-mobile div.main .btn-wrapper:last-child {
    margin-right: 0;
}

body.tmpl-mobile div.main .btn {
    font-size: 12px;
    margin: 0 4px 4px 0;
}

body.tmpl-mobile div.main .input-append {
    font-size: 1rem;
    width: 80%;
}

body.tmpl-mobile div.main .input-append button {
    margin: 0;
    right: 2rem;
    top: .4rem;
}

#adminForm {
    margin-bottom: 0;
}

.instances-grid {
    display: grid;
    grid-template-rows: 3rem repeat(auto-fill, auto);
    padding-bottom: 1rem;
    text-align: center;
}

.instances-grid.columns-1 {
    grid-template-columns: 1fr;
}

.instances-grid.columns-2 {
    grid-template-columns: 3.5rem repeat(1, 1fr);
}

.instances-grid.columns-6 {
    grid-template-columns: repeat(6, 1fr);
}

.instances-grid.columns-7 {
    grid-template-columns: 3.4rem repeat(6, 10.5rem);
}

.instances-grid > div {
    background-color: white;
    border-bottom: 5px solid #dfeec8;
    color: #394a59;
    padding: .1rem .2rem;
}

.instances-grid > div.grid-header {
    align-items: center;
    background-color: #4a5c66;
    color: white;
    display: grid;
    justify-items: center;
}

.instances-grid > div.grid-header.times {
    display: block;
    padding: .5rem 0;
}

.instances-grid > div.block-busy {
    background-color: #7f93bb;
}

.instances-grid > div.row-end {
    border-right: none;
}

.instances-grid > div .grid-item {
    background-color: #f2f5f6;
    margin: .2rem 0 .4rem 0;
    padding: .4rem .1rem;
}

.instances-grid > div .grid-item.new .icon-warning-2::before {
    color: #80ba24;
}

.instances-grid > div .grid-item.removed {
    color: #77858c;
    text-decoration: line-through;
}

.instances-grid > div .grid-item.removed .icon-warning-2::before {
    color: #9c132e;
}

.instances-grid > div .grid-item.removed a {
    color: #77858c;
}

.instances-grid > div .grid-item:last-child {
    margin-bottom: .2rem;
}

.instances-grid > div .grid-item .grid-tools {
    margin-top: .4rem;
}

.instances-grid > div .grid-item .grid-tools [class^="icon-"] {
    font-size: 1.1rem;
    margin-right: .4rem;
}

.instances-grid > div.break {
    background-color: #dfeec8;
    color: #394a59;
}

.instances-grid > div > div {
    background-color: white;
}

.instances-grid > div .notice {
    text-align: right;
}
