body.tmpl-index div.main .btn-toolbar {
    display: flex;
    flex-direction: row;
}

body.tmpl-index div.main .btn-toolbar .btn-wrapper {
    margin-right: 5px;
}

body.tmpl-index div.main .btn-toolbar a.btn, body.tmpl-index div.main .btn-toolbar button {
    font-size: .9rem;
}

body.tmpl-index div.main .js-stools-container-bar,
body.tmpl-index div.main .js-stools-container-list,
body.tmpl-index div.main .js-stools-container-filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .8rem;
}

body.tmpl-index div.main .js-stools-container-bar .active .chzn-single,
body.tmpl-index div.main .js-stools-container-bar .chzn-single,
body.tmpl-index div.main .js-stools-container-list .active .chzn-single,
body.tmpl-index div.main .js-stools-container-list .chzn-single,
body.tmpl-index div.main .js-stools-container-filters .active .chzn-single,
body.tmpl-index div.main .js-stools-container-filters .chzn-single {
    background: none;
    border: none;
}

body.tmpl-index div.main .js-stools-container-bar input[type='date'],
body.tmpl-index div.main .js-stools-container-list input[type='date'],
body.tmpl-index div.main .js-stools-container-filters input[type='date'] {
    height: 1.35rem;
    margin-bottom: 0;
}

body.tmpl-index div.main .js-stools-container-bar select,
body.tmpl-index div.main .js-stools-container-list select,
body.tmpl-index div.main .js-stools-container-filters select {
    margin-bottom: 0;
}

body.tmpl-index div.main .js-stools-container-bar input {
    width: 12rem;
}

body.tmpl-index div.main .js-stools-container-bar a.btn, body.tmpl-index div.main .js-stools-container-bar input, body.tmpl-index div.main .js-stools-container-bar button {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: .9rem;
}

body.tmpl-index div.main .js-stools-container-bar .input-append input + button {
    font-size: .9rem;
    height: 1.85rem;
    margin-top: .2rem;
    margin-left: -2.2rem;
}

body.tmpl-index div.main .js-stools-container-bar .input-append input + button:hover span[class^="icon-"]:before {
    color: #394a59;
}

body.tmpl-index div.main .js-stools-container-bar .js-stools-btn-filter .caret {
    border-bottom-color: initial;
}

body.tmpl-index div.main .js-stools-container-bar .js-stools-btn-filter:hover .caret {
    border-top-color: #ffffff;
}

body.tmpl-index div.main .js-stools-container-list .js-stools-field-list {
    margin-bottom: 0;
    margin-right: 0;
}

body.tmpl-mobile div.main .js-stools-container-bar,
body.tmpl-mobile div.main .js-stools-field-filter,
body.tmpl-mobile div.main .js-stools-field-list,
body.tmpl-mobile div.main .js-stools-container-filters,
body.tmpl-mobile div.main .js-stools-container-list {
    margin-right: 0;
    margin-top: 0;
    width: 100%;
}

body.tmpl-mobile div.main .js-stools-container-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

body.tmpl-mobile div.main .js-stools-container-bar input[type='text'] {
    width: calc(100% - 8px);
}

body.tmpl-mobile div.main .js-stools-container-bar .btn-wrapper {
    margin-right: .4rem;
}

body.tmpl-mobile div.main .js-stools-container-bar .btn-wrapper:last-child {
    margin-right: 0;
}

body.tmpl-mobile div.main .js-stools-container-bar .input-append {
    font-size: 1rem;
    width: 80%;
}

body.tmpl-mobile div.main .js-stools-container-bar .input-append button {
    margin: 0;
    right: 2rem;
    top: .4rem;
}

body.tmpl-mobile div.main .js-stools-container-filters input, body.tmpl-mobile div.main .js-stools-container-filters select,
body.tmpl-mobile div.main .js-stools-container-list input,
body.tmpl-mobile div.main .js-stools-container-list select {
    width: 100%;
}

body.tmpl-mobile div.main .js-stools-container-filters input[type='date'],
body.tmpl-mobile div.main .js-stools-container-list input[type='date'] {
    padding: 6px 4px;
    width: calc(100% - 10px);
}

body.tmpl-mobile div.main .js-stools-container-filters {
    margin-top: 0;
}

.term-container {
    margin-bottom: .5rem;
}

.term-label {
    margin-right: 1rem;
    min-width: 5rem;
}

.term-label, .term-input {
    display: inline-block;
}
