#modal-publishing {
    left: 70%;
    width: 30%;
}

.modal-batch.modal-body {
    height: 12rem;
    overflow: hidden !important;
    padding: 1rem;
}

.contentpane.component {
    padding: 0 .5rem;
}

.contentpane.component .toolbar {
    background-color: #f2f5f6;
    border-bottom: 1px solid #a4adb2;
    margin-bottom: .5rem;
    padding: .5rem;
    width: calc(100% - 1rem);
}
