html {
    background-color: #f2f5f6;
    position: relative;
}

body.tmpl-component.html-default {
    background-color: #f2f5f6;
    left: 50%;
    min-width: 300px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

body.tmpl-component.html-default .main {
    background-color: white;
    padding: 0;
}

body.tmpl-component.html-default .main h1, body.tmpl-component.html-default .main p, body.tmpl-component.html-default .main .foot {
    padding-top: .4rem;
    text-align: center;
}

body.tmpl-component.html-default .main h1, body.tmpl-component.html-default .main .foot {
    background-color: #394a59;
    color: white;
    margin: 0;
}

body.tmpl-component.html-default .main h1 {
    font-size: 3rem;
}

body.tmpl-component.html-default .main p {
    font-weight: bold;
}

body.tmpl-component.html-default .main p:not(.date) {
    margin-bottom: 0;
}

body.tmpl-component.html-default .main .foot {
    font-size: 2rem;
    padding-bottom: .6rem;
}

@media print {
    body.tmpl-component.html-default {
        transform: translate(-50%, 50%);
    }
}
