.so-table.form-select {
    background: var(--body-bg);
    border-collapse: inherit;
    border-radius: var(--border-radius);
    display: table;
    padding: 0;
}

.so-table.form-select tbody, .so-table.form-select thead, .so-table.form-select tr {
    background-color: var(--body-bg);
    width: 100%;
}

.so-table.form-select button, .so-table.form-select input {
    background-color: var(--body-bg);
    border-color: #c2cbd6;
    margin-right: .2rem;
}

.so-table.form-select input {
    border-color: #c2cbd6;
    border-width: var(--border-width);
    border-left-width: 3px;
    border-top-width: 3px;
    border-radius: .25rem;
    padding: .4rem .4rem .55rem .4rem;
    width: 3rem;
}

.so-table.form-select .sub-name, .so-table.form-select .sub-order {
    min-width: 24.5rem;
}

.so-table.form-select .sub-name {
    vertical-align: middle;
}

.so-table.form-select .sub-name span:first-child {
    margin-right: .4rem;
}

.so-table.form-select .sub-order {
    width: 24.5rem;
}
