form textarea {
    min-height: 9rem;
    min-width: 15rem;
}

body.tmpl-index div.main .chzn-container {
    max-width: inherit;
}

body.tmpl-index div.main .chzn-container, body.tmpl-index div.main select {
    width: 10rem !important;
}

body.tmpl-index div.main .chzn-container-multi .chzn-choices li {
    float: none;
}

body.tmpl-index div.main .chzn-container-multi, body.tmpl-index div.main select[multiple] {
    height: auto;
    min-height: 2rem;
}

body.tmpl-index div.main input[type='date'] {
    margin-bottom: 0;
}

body.tmpl-index div.main button, body.tmpl-index div.main input, body.tmpl-index div.main select a.btn {
    padding: .45em .6em .15em .6em;
}

body.tmpl-index div.main .input-4, body.tmpl-index div.main .input-4 + .chzn-container,
body.tmpl-index div.main .input-mini, body.tmpl-index div.main .input-mini + .chzn-container {
    width: 4rem !important;
}

body.tmpl-index div.main .input-6, body.tmpl-index div.main .input-6 + .chzn-container {
    width: 6rem !important;
}

body.tmpl-index div.main .input-7, body.tmpl-index div.main .input-7 + .chzn-container {
    width: 7rem !important;
}

body.tmpl-index div.main .input-8, body.tmpl-index div.main .input-8 + .chzn-container {
    width: 8rem !important;
}

body.tmpl-index div.main .input-12, body.tmpl-index div.main .input-12 + .chzn-container {
    width: 12rem !important;
}

body.tmpl-index div.main .input-13, body.tmpl-index div.main .input-13 + .chzn-container {
    width: 13rem !important;
}

body.tmpl-index div.main .input-15, body.tmpl-index div.main .input-15 + .chzn-container {
    width: 15rem !important;
}

.publishing-container {
    display: flex;
    flex-direction: column;
}

.publishing-container .term-container {
    display: flex;
    flex-direction: row;
    margin-bottom: .4rem;
}

.publishing-container .term-label {
    width: 6rem;
}

.publishing-container .term-input select {
    width: 4rem;
}

body.tmpl-index div.main .btn-toolbar {
    display: flex;
    flex-direction: row;
}

body.tmpl-index div.main .btn-toolbar .btn-wrapper {
    margin-right: 5px;
    position: relative;
}

body.tmpl-index div.main .btn-toolbar .btn-wrapper .dropdown-menu {
    border-radius: 0;
    width: max-content;
}

body.tmpl-index div.main .btn-toolbar .btn-wrapper .dropdown-menu .btn {
    text-align: left;
}

body.tmpl-index div.main .btn-toolbar .btn-wrapper .dropdown-menu a {
    border: none;
    padding: .45em .6em .15em .6em;
}

body.tmpl-index div.main .btn-toolbar .btn-wrapper .dropdown-menu li button {
    border: none;
}

body.tmpl-index div.main .btn-toolbar a.btn, body.tmpl-index div.main .btn-toolbar button {
    font-size: .9rem;
}

body.tmpl-index div.main .js-stools-container-bar,
body.tmpl-index div.main .js-stools-container-list,
body.tmpl-index div.main .js-stools-container-filters,
body.tmpl-index div.main .js-stools-field-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .8rem;
}

body.tmpl-index div.main .js-stools-container-bar .active .chzn-single,
body.tmpl-index div.main .js-stools-container-bar .chzn-single,
body.tmpl-index div.main .js-stools-container-list .active .chzn-single,
body.tmpl-index div.main .js-stools-container-list .chzn-single,
body.tmpl-index div.main .js-stools-container-filters .active .chzn-single,
body.tmpl-index div.main .js-stools-container-filters .chzn-single,
body.tmpl-index div.main .js-stools-field-list .active .chzn-single,
body.tmpl-index div.main .js-stools-field-list .chzn-single {
    background: none;
    border: none;
}

body.tmpl-index div.main .js-stools-container-bar input[type='date'],
body.tmpl-index div.main .js-stools-container-list input[type='date'],
body.tmpl-index div.main .js-stools-container-filters input[type='date'],
body.tmpl-index div.main .js-stools-field-list input[type='date'] {
    height: 1.35rem;
    margin-bottom: 0;
}

body.tmpl-index div.main .js-stools-container-bar select,
body.tmpl-index div.main .js-stools-container-list select,
body.tmpl-index div.main .js-stools-container-filters select,
body.tmpl-index div.main .js-stools-field-list select {
    margin-bottom: 0;
}

body.tmpl-index div.main .js-stools-container-bar input,
body.tmpl-index div.main .js-stools-container-list input {
    width: 12rem;
}

body.tmpl-index div.main .js-stools-container-bar a.btn, body.tmpl-index div.main .js-stools-container-bar input, body.tmpl-index div.main .js-stools-container-bar button,
body.tmpl-index div.main .js-stools-container-list a.btn,
body.tmpl-index div.main .js-stools-container-list input,
body.tmpl-index div.main .js-stools-container-list button {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: .9rem;
}

body.tmpl-index div.main .js-stools-container-bar .input-append input + button,
body.tmpl-index div.main .js-stools-container-list .input-append input + button {
    font-size: .9rem;
    height: 1.85rem;
    margin-top: .2rem;
    margin-left: -2.2rem;
}

body.tmpl-index div.main .js-stools-container-bar .input-append input + button:hover span[class^="icon-"]:before,
body.tmpl-index div.main .js-stools-container-list .input-append input + button:hover span[class^="icon-"]:before {
    color: #394a59;
}

body.tmpl-index div.main .js-stools-container-bar .js-stools-btn-filter .caret,
body.tmpl-index div.main .js-stools-container-list .js-stools-btn-filter .caret {
    border-bottom-color: initial;
}

body.tmpl-index div.main .js-stools-container-bar .js-stools-btn-filter:hover .caret,
body.tmpl-index div.main .js-stools-container-list .js-stools-btn-filter:hover .caret {
    border-top-color: #ffffff;
}

body.tmpl-index div.main .js-stools-container-list .js-stools-field-list {
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 0;
}

body.tmpl-index div.main .js-stools-container-list .js-stools-field-list input[type='date'] {
    padding: .35rem .5rem;
}

body.tmpl-mobile div.main .js-stools-container-bar,
body.tmpl-mobile div.main .js-stools-field-filter,
body.tmpl-mobile div.main .js-stools-field-list,
body.tmpl-mobile div.main .js-stools-container-filters,
body.tmpl-mobile div.main .js-stools-container-list {
    margin-right: 0;
    margin-top: 0;
    width: 100%;
}

body.tmpl-mobile div.main .js-stools-container-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

body.tmpl-mobile div.main .js-stools-container-filters input, body.tmpl-mobile div.main .js-stools-container-filters select,
body.tmpl-mobile div.main .js-stools-container-list input,
body.tmpl-mobile div.main .js-stools-container-list select {
    width: 100%;
}

body.tmpl-mobile div.main .js-stools-container-filters input[type='date'],
body.tmpl-mobile div.main .js-stools-container-list input[type='date'] {
    padding: 6px 4px;
    width: calc(100% - 10px);
}

body.tmpl-mobile div.main .js-stools-container-filters {
    margin-top: 0;
}

body.tmpl-mobile div.main input[type='text'] {
    width: calc(100% - 8px);
}

body.tmpl-mobile div.main .btn-wrapper {
    display: inline-block;
    margin-right: .4rem;
}

body.tmpl-mobile div.main .btn-wrapper:last-child {
    margin-right: 0;
}

body.tmpl-mobile div.main .btn-wrapper .btn {
    font-size: 12px;
}

body.tmpl-mobile div.main .input-append {
    font-size: 1rem;
    width: 80%;
}

body.tmpl-mobile div.main .input-append button {
    margin: 0;
    right: 2rem;
    top: .4rem;
}

.main tfoot .limit {
    display: none;
}

.main tfoot .counter, .main tfoot .pagination-box {
    text-align: center;
}

.main tfoot .pagination-box ul {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 0;
    position: relative;
}

.main tfoot .pagination-box li {
    float: left;
    height: auto;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    position: relative;
}

.main tfoot .pagination-box li.active-page a, .main tfoot .pagination-box li.active-page span {
    background-color: #dfeec8;
}

.main tfoot .pagination-box li::before {
    left: .8rem;
    position: absolute;
    top: .05rem;
}

.main tfoot .pagination-box li[class*="icon-"] {
    width: 2.5rem;
}

.main tfoot .pagination-box li[class*="icon-"] a {
    padding: .3rem .6rem;
}

.main tfoot .pagination-box a, .main tfoot .pagination-box span {
    border: 2px solid #4a5c66;
    margin: 0 .4rem;
    padding: .3rem .5rem;
}

/* table styles *******************************************************************************************************/
.organizer-table thead th,
.organizer-table tbody td {
    text-align: center;
}

.organizer-table .resource-column {
    padding-left: .1rem;
    padding-right: .1rem;
    width: calc(4rem - .2rem);
}

.organizer-table .data-column span {
    margin: 0;
}

.organizer-table thead tr.level-2.columns-36 th.data-column,
.organizer-table tbody tr.columns-36 td.data-column {
    padding-left: .1rem;
    padding-right: .1rem;
    width: calc((100% - 4rem - (.2rem * 36)) / 36);
}

.organizer-table thead tr.level-2.columns-48 th.data-column,
.organizer-table tbody tr.columns-48 td.data-column {
    padding-left: 0;
    padding-right: 0;
    width: calc((100% - 4rem) / 48);
}

/* Tooltip styles specific to table views ****************************************************************************/
.tooltip-inner .cellTip {
    padding: .4rem;
    text-align: center;
}

.tooltip-inner .cellTip .cellTip, .tooltip-inner .cellTip .labelTip {
    margin-top: .4rem;
    text-align: left;
}

.tooltip-inner .cellTip .cellTip {
    border-top: 1px solid #77858c;
}

.tooltip-inner .cellTitle {
    font-weight: bold;
    size: 1.1rem;
}
