name: Test joomla component installation

on:
        - push

env:
        ci_release: false

jobs:
  build:

    strategy:
            fail-fast:  false
            matrix:
                    php-versions: ['7.2', '7.3', '7.4', '8.0']

    runs-on: ubuntu-latest
    
    steps:
      - name: "Installing PHP"
        uses: shivammathur/setup-php@v2
        with:
                php-version: ${{ matrix.php-versions }}
      - name: "Install dependencies"
        run: "sudo apt-get install tree"
      - name: "List PHP Modules"
        run: php -m
      - name: "Checkout build enviroment"
        uses: actions/checkout@v2
        with:
          repository:  jpbm04/ii-ci
          path: build
      - name: "Checkout sources"
        uses: actions/checkout@v2
        with:
          path : extensions/com_organizer
      - name: "Initialize build enviroment"
        run: build/scripts/shell/init.sh
      - name: "Generating ZIP-File(s)"
        run: build/scripts/shell/mkzips.sh
      - name: "Upload Package"
        uses: actions/upload-artifact@v1
        if: ${{env.ci_release == true}}
        with: 
                name: "com-organizer"
                path: "test.zip"
