name: Test joomla component installation

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: "Install dependencies"
        run: "sudo apt-get install tree"
      - name: "Checkout build enviroment"
        uses: actions/checkout@v2
        with:
          repository:  jpbm04/ii-ci
          path: build
      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          path : extensions/com_organizer
      - name: "Cleanup build enviroment"
        run: build/scripts/shell/cleanup.sh
      - name: "Initialize build enviroment"
        run: build/scripts/shell/init.sh
