name: Test joomla component installation

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: "Install dependencies"
        run: "sudo apt-get install tree"
      - name: "Stopping mysql"
        run: "sudo systemctl stop mysql"
      - name: "netstat"
        run: "netstat -a -p tcp"
      - name: "Install mariadb"
        uses: getong/mariadb-action@v1.1
        with:
          mysql database: "joomla"
      - name: "netstat"
        run: "netstat -a -p tcp"
      - name: "Checkout build enviroment"
        uses: actions/checkout@v2
        with:
          repository:  jpbm04/ii-ci
          path: build
      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          path : extensions/com_organizer
      - name: "Cleanup build enviroment"
        run: build/scripts/shell/cleanup.sh
      - name: "Find mysqld.sock"
        run: "sudo find / -name mysqld.sock 2> /dev/null"
      - name: "Initialize build enviroment"
        run: build/scripts/shell/init.sh
      - name: "Testausgaben"
        run: |
          echo "pwd:"
          pwd
          echo "ls -lA:"
          ls -lA
          echo "tree:"
          tree -a
