name: Release joomla component package

on:
  push:
    tags:
      - 'v*'

jobs:
  build:

    runs-on: ubuntu-latest

    name: "Release new version"
    
    steps:
      - name: "Install dependencies"
        run: "sudo apt-get install tree"
      - name: "Checkout sources"
        uses: actions/checkout@v2
        with:
          path : extensions/com_organizer
